@model IEnumerable<dbfirstassets.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Ajax.ActionLink("View Details", "Details",
                    new { id = item.Id },
                    new AjaxOptions
                         {
                      Confirm = "Are you Sure",
                      UpdateTargetId = "detailsdiv",
                      InsertionMode = InsertionMode.Replace,
                      HttpMethod = "Get",
                      LoadingElementId="loaderdiv",
                    })

                |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div id="loaderdiv" style="background-color:cyan;display:none">
    Please wait while we load your content
    <img src="~/Content/ArrowRight.png" />
</div>
<div id="detailsdiv">
    --
</div>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}